@using FiveSafesTes.Core.Models.ViewModels
@model JsonConfigUploadResponse
@{
    ViewData["Title"] = "Upload JSON Configuration";
}


<div class="container-lg p-4">
    <div class="card shadow-sm">
        <div class="card-body">

            @{
                if (Model != null && !string.IsNullOrEmpty(Model.Message))
                {
                    if (Model.Success)
                    {
                        <p>@Model.Message</p>
                    }
                    else
                    {
                        <p style="color:red">@Model.Message</p>
                    }
                }
            }

            <form asp-controller="Deployment" asp-action="UploadJsonConfig" method="post" enctype="multipart/form-data">
                <input type="file" name="file" />
                <button type="submit">Upload</button>
            </form>
        </div>
    </div>
</div>
