@using FiveSafesTes.Core.Models;

@model List<HealthCheckStatus>

<div>
    <div class="tab-pane" id="" role="statusTable" aria-labelledby="statuses">
        @await Html.PartialAsync("statusTable", Model)
    </div>
</div>
